<%- include("header") %>
<div class="container-fluid">
    <div class="centerAlign">
        <%- include("messages") %>
        <h1>Modify Student Details</h1>
        <form action="/modifyStudentDetails" method="post">
            <label class="mt-3" for="semSelect">Student ID</label>
            <input type="text" name="studentId" id="studentId" placeholder="Student ID">
            <br>
            <input type="submit" value="Modify Student Details" class="btn btn-success mt-3">
            <a href="/teacherLanding" class="btn btn-danger mt-3">Cancel</a>
        </form>
        <% if(typeof sId !== 'undefined') { %>
        <div class="formAllign">
            <form method="post" action="/modifyStudentDetailsConfirm">
                <p>
                <label class="mt-3">Name</label>
                <input class="mt-3" type="text" placeholder="Name" name="sName" value="<%= sName %>">
                <br>
                </p>
                <p>
                <label class="mt-3">ID</label>
                <input class="mt-3" type="text" placeholder="ID" name="sId" value="<%= sId %>">
                <br>
                </p>
                <p>
                <label class="mt-3">Email</label>
                <input class="mt-3" type="email" placeholder="ID" name="sEmail" value="<%= sEmail %>">
                <br>
                </p>
                <p>
                <label class="mt-3">Address</label>
                <textarea style="resize: none" name="sAddress" class="mt-3" id="sAddress" cols="15" rows="5"><%= sAddress %></textarea>
                <br>
                </p>
                <p>
                <label class="mt-3">Phone</label>
                <input class="mt-3" type="text" placeholder="Phone" name="sPhone" value="<%= sPhone %>">
                <br>
                </p>
                <p>
                <label class="mt-3">Parent Phone</label>
                <input class="mt-3" type="text" placeholder="Parent Phone" name="sParentPhone" value="<%= sParentPhone %>">
                <br>
                </p>
                <p>
                <label class="mt-3">Semester</label>
                <select class="mt-3" name="sSemester" id="semSelect">
                    <option value="S1">S1</option>
                    <option value="S2">S2</option>
                    <option value="S3">S3</option>
                    <option value="S4">S4</option>
                    <option value="S5">S5</option>
                    <option value="S6">S5</option>
                    <option value="S7">S6</option>
                    <option value="S8">S8</option>
                </select>
                <br>
                </p>
                <p>
                <label class="mt-3">Department</label>
                <select class="mt-3" name="sDepartment" id="depSelect">
                    <option value="IT">IT</option>
                    <option value="EC">EC</option>
                    <option value="EE">EE</option>
                    <option value="ME">ME</option>
                    <option value="CE">CE</option>
                </select>
                <br>
                </p>
                <p>
                <label class="mt-3">Active</label>
                <% if(isStudentActive == 1) { %>
                <input class="mt-3" type="checkbox" name="isStudentActive" id="isStudentActive" checked>
                <br>
                </p>
                <% } else { %>
                <input class="mt-3" type="checkbox" name="isStudentActive" id="isStudentActive">
                <br>
                </p>
                <% } %>
                <input class="btn btn-primary mt-3" type="submit" value="OK" >
                <a class="btn btn-danger mt-3" href="teacherLanding">Cancel</a>
            </form>
        <% } %>
        </div>
    </div>
</div>
<%- include("footer") %>